<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/style.css"></link>
</head>
<body>
   
     {{>navbar}}
    <button class="btn btn-success">Contact</button>
    <script type='text/javascript' src="../../js/bootstrap.js"></script>
    <script type='text/javascript' src="../../jq/jquery.js"></script>
</body>
</html>